body {
    display: flex;
    background-color: goldenrod;

}
main {
    margin: auto;
    /*to center all content*/
    min-height: 100vh;
    /*exact height screen*/
}
/*text*/
h1 {

}
h2 {

}
h3 {

}
/*buttons*/
img{
    width: 10vh;
}
.pressButton{

}
.result {

}
.reset {

}